/* Normalize and setup */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.wrapper {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.info-toggle {
  padding: 0 10px;
  font-size: 0.9rem;
  line-height: 35px;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.30);
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
}

/* Input Box and Submit button */

.search-input-label {
  display: block;
}

.search-input-box {
  padding: 5px;
}

.search-button {
  display: block;
  margin: 5px auto;
  padding: 5px;
}


/* GROUPS DISPLAY PAGE */

.group-event-container {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  width: 98%;
  margin: 0 auto;
}

/* GROUP RESULT COMPONENT */
.group-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.03);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  min-height: 200px;
  color: black;
}

.group-results-container {
  width: 95%;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-container:link {
  text-decoration: none;

}

.group-header {
  margin-top: 10px;
  width: 100%;
}

.group-header h4 {
  font-size: 1.5rem;
  margin: 10px;
}

.group-image-container {
  min-width: 60px;
  max-width: 80px;
  height: 80px;
  margin: 10px;
  float: left;
}

.group-container img {
  width: 100%;
}

.group-information p {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* EVENT PAGE */

.group-details-container {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  width: 30%;
}

.group-event-list-header {
  text-align: center;
}

.event-info-toggle {
  left: 15px;
  top: 60px;
  position: absolute;
}

.group-details-image-container {
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
}

.group-details-image-container img {
  width: 100%;
}

.group-details-info-desc {
  overflow-wrap: break-word;
}

/* Prevents images inserted into group details by API from appearing too large */
.group-details-info-desc img {
  display: none;
}

.event-container {
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.03);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.event-container h4, .event-datetime {
  text-align: center;
}

.event-information {
  padding-bottom: 50px;
}

/* Prevents images inserted into description by API from appearing */
.event-description img {
  display: none;
}

.event-description {
  text-align: left;
}

.group-event-container ul {
  list-style-type: none;
  padding: 0;
}

.group-event-list {
  width: 70%;
}

.event-address {
  margin: 0;
}

/* Loading Bar animation */

.loading-container {
  display: flex;
  margin: 100px auto;
  height: 150px;
  width: 140px;
  background-color: #C9E6FF;
  padding: 15px;
  align-items: center;
  border-radius: 10%;
  opacity: 0.8;
}

.loading-bar {
  opacity: 0.8;
  height: 150px;
  width: 30px;
  background-color: green;
  float: left;
  margin: 8px;
  
  animation-name: pulse;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  10% {
    height: 170px;
    width: 45px;
    margin: 2px;
  }
  90% {
    height: 140px;
    width: 30px;
    opacity: 0.4;
  }
}

.bar1 {
  background-color: #006DAA;
  animation-delay: 0s;
}
.bar2 {
  background-color: #02478C;
  animation-delay: 0.1s;
}
.bar3 {
  background-color: #061A40;
  animation-delay: 0.22s;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .group-event-container {
    flex-direction: column;
    align-items: center;;
  }

  .group-details-container {
    width: 95%;
  }

  .group-event-list {
    width: 95%;
  }

}

@media (max-width: 700px) {
  .group-details-container {
    padding: 5px;
    margin-top: 5px;
  }

  .group-results-container {
    flex-direction: column;
    align-items: center;
  }

  .group-results-container a {
    margin: 0;
    width: 95%;
  }

  .group-container {
    width: auto;
    margin: 5px 0 0 0;
    min-height: unset;
  }

  .group-container h4 {
    font-size: 1.2rem;
    margin: 0;
  }

  .event-info-toggle {
    position: static;
    margin: 0 auto;
  }

}